<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>EMBEBIDOS</title>
</head>
<body>

<h1>Embebidos</h1>
<h2>LED NUMERO 1</h2>
<button id ="a1" type="button" onclick="LED1ENCENDIDO();">ENCENDER</button>
<button id ="a2" type="button" onclick="LED1APAGADO();">APAGAR</button>
</br>

<h2>LED NUMERO 2</h2>
<button id ="a3" type="button" onclick="LED2ENCENDIDO();">ENCENDER</button>
<button id ="a4" type="button" onclick="LED2APAGADO();">APAGAR</button>
</br>
<h2>Estado del LED:</h><h id ="respuesta"</h2>

<h1>Definir clave</h1>
<input type="text" id="intclave"name="name"></b></b>
</b>
<h1>Poner clave</h1>
<input type="text" id="inttext"name="name"></b></b>
</b>

</body>
</html>
